button {
  padding: .5rem 1rem;
  cursor: pointer;
  background-color: #dbdbdb;
  padding: .3rem 1rem;
  border: none;
  &:hover {
    background-color: #d0d0d7;
  }

  &:hover:active {
    background-color: #b1b1b9;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}
